table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.price::before {
    content: ' \0024';
    float: left;
}
.price::after {
    content: ',-';
    float: right;
}


p {font-family: Arial, Helvetica, sans-serif;}
h1 {font-family: Arial, Helvetica, sans-serif; margin:10;}
li {font-family: Arial, Helvetica, sans-serif;}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
}

li {
float: left;
}

li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 16px 18px;
text-decoration: none;
font-size: 20px;
}

li a:hover {
background-color: rgb(192, 0, 0);
}

div.center { 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(43, 43, 43);
    font-size: 12px;
    color: white;
}

div {
    margin: 20px;
}

.nextto {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
}
#menuTable {
    margin-bottom: 50px;
}